<.header>
  New Athlete
  <:subtitle>Use this form to manage athlete records in your database.</:subtitle>
</.header>

<.athlete_form changeset={@changeset} action={~p"/athletes"} events={@events} />

<.back navigate={~p"/athletes"}>Back to athletes</.back>